# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VSCode
*.code-workspace

# Assets
*.blend
*.blend1
*.pur
*.kra
*.kra~
*.knob
*.mov

.vscode/
test/build.bat
test/run.bat
test/vst.bat
test/project.4coder
test/build/
test/Builds/
remedy session.rdbg
project.4coder
test/check.bat
test/JuceLibraryCode
test/Builds/VisualStudio2019
Assets/
.project_alt.json
